body {
  margin: 0;
  line-height: 1.5;
}

#root {
  background: rgb(43,48,65);
  background: radial-gradient(#2a2f3f, #0e1018);
  color: #d3d7d5;
  font-family: Verdana, sans-serif;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  /* Hide scrollbars for Chrome, IE, Edge, and FF */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#setContainers {
  margin-top: 50px;

  .setContainer {
    display: flex;
    flex-direction: column;
  
    .setHeader {
      font-size: 20px;
      font-weight: bold;
      margin: 0 50px -35px 50px;
    }
  
    .setItemsContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      height: 230px;
      padding-right: 50px;
      overflow: auto;
      /* Hide scrollbars for Chrome, IE, Edge, and FF */
      -ms-overflow-style: none;
      scrollbar-width: none;
  
      .tileContainer {
        position: relative;
        z-index: 1;
        scroll-margin: 50px;
  
        .tileBackground, img, .titlePlaceholderContainer {
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
        }

        img, .titlePlaceholderContainer, .skeletonTileContainer {
          outline: 3px solid transparent;
          transition: outline-color 0.3s,  border-radius 0.3s,  padding 0.3s;
        }
  
        .tileBackground {
          background: radial-gradient(#2a2f3f, #0e1018);
          border-radius: 5px;
  
          img {
            height: 125px;
            border-radius: 5px;
            vertical-align: middle;
            border-style: none;
          }
        }
  
        .titlePlaceholderContainer {
          height: 125px;
          width: 222px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
  
          .itemTitle {
            padding: 0 20px 15px 20px;
          }
        }
      }
  
      .tileContainer:focus {
        outline: none;
  
        .tileBackground, img, .titlePlaceholderContainer {
          -webkit-transform: scale(1.03);
          transform: scale(1.03);
        }
  
        img, .titlePlaceholderContainer, .skeletonTileContainer {
          outline-color: #e8ecfa;
          border-radius: 8px;
          padding: 3px;
        }
  
        .skeletonTile {
          border-radius: 7px;
        }
      }
  
      .tileContainer::after {
        content: " ";
        position: absolute;
        box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.80);
        left: 12px;
        width: calc(100% - 24px);
        bottom: 10px;
        height: 33px;
        z-index: -1;
      }
  
      .tileContainer:nth-child(1) {
        margin-left: 50px;
      }
    }
  }
}

.itemDialog {
  width: calc(50vw);
  background: radial-gradient(#2a2f3f, #0e1018);
  border-radius: 5px;
  color: #d3d7d5;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  border: 2px solid #7f88a3;
  box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.80);
  padding: 0;

  .dialogContentWithVideo {
    position: relative;

    .dialogText {
      position: absolute;
      top: 65%;
      padding: 0 10px;
      font-size: 1.1vw;
  
      .dialogHeader {
        font-size: 2vw;
        margin-bottom: 5px;
      }

      .disneyOriginal {
        display: flex;
        gap: 5px;
        align-items: center;

        img {
          width: 2vw;
        }
      }
    }
  
    .videoArt {
      background-color: #000000;

      video {
        width: 100%;
      }
    }
  }

  .dialogContentWithImage {
    img {
      width: 100%;
    }
  }

  .dialogContentNoMedia {
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    padding: 20px;
  }

  .dialogContentWithImage, .dialogContentNoMedia {
    .dialogText {
      padding: 10px;
      font-size: 12px;
  
      .dialogHeader {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }

  .dialogButton {
    width: fit-content;
    padding: 8px 15px;
    background-color: #525f87;
    border: none;
    border-radius: 5px;
    color: #d3d7d5;
    align-self: end;
  }

  .dialogButton:focus-visible {
    outline: 2px solid #d3d7d5;
    outline-offset: 3px;
  }
}

.itemDialog:focus {
  outline: 0;
}

.skeletonSetHeader {
  animation: skeleton-pulse 1s linear infinite alternate;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.skeletonTile {
  animation: skeleton-pulse 1s linear infinite alternate;
  width: 222px;
  height: 125px;
  border-radius: 5px;
}

@keyframes skeleton-pulse {
  0% {
    background-color: #7f88a3;
  }
  100% {
    background-color: #42485c;
  }
}